{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Parach Student CRM</title>

    <style>
        *{
            text-decoration: none;
        }
        .main{
            border: solid 2px blue;
            width: 70%;
            margin: auto;
            background-color: aqua;
            height: 200px;
            text-align: center;
        }
        .main button{
            padding: 5px 15px;
            border: none;
            border-radius: 10px;
        }
        .main button:hover{
            background-color: blue;
        }
    </style>

</head>

<body>
    <div class="main">
        <h2>Parach Certificate</h2>
        <p>Hello student, your certificate is ready, click on the button below to download.</p>
        <button>Download certificate</button>
    </div>
    
</body>

</html>